.customer-info{
  display: flex;
  flex-direction: column;
  padding:15px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.costumer-detail{
  display: flex;
  flex-direction: column;

}

.return-button{
  display:inline-block;
  max-width: 30px;
}

.return-button:hover{
  color: var(--verde);
  cursor: pointer;
}

