<div class="pdf" #html>
  <div class="header">
    <img class ='' src="../../../assets/chiquinha-profile.jpg" width="60" height="60" />
    <h6 class ='pdf-label'>Ordem de Serviço de Coleta de Resíduos</h6>
    <div class="header-info">
      <div class="header-info-data"><b>Número:</b><span> {{ order.id }}</span></div>
      <div class="header-info-data"><b>Emissão:</b><span>{{ order.emissionDate | date : "dd/MM/yyyy" }}</span></div>
      <div class="header-info-data"><b>Data Agendada:</b><span>{{ order.serviceExpectedDate | date : "dd/MM/yyyy" }}</span></div>
      <div class="header-info-data"><b>Situação:</b><span>{{order.serviceOrderStatus}}</span></div>
    </div>
  </div>
  <div class="services-info">
      <h6 class="os-data-header">Cliente</h6>
      <div class="">
          <div class="data-block-item"><b>CPF /CNPJ</b>{{order.customerId | cpfCnpj }}</div>
          <div class="data-block-item"><b>Cliente</b>{{customer.nameCompanyName}}</div>
          <div class="data-block-item"><b>Endereco</b>{{order.address.addressName}}</div>
        <div class="data-block-small">
          <div class="data-block-item"><b>Nº</b>{{order.address.addressNumber}}</div>
          <div class="data-block-item"><b>Complemento</b>{{order.address.complement}}</div>
          <div class="data-block-item"><b>Cidade</b>{{order.address.city}}</div>
          <div class="data-block-item"><b>Estado</b>{{order.address.state}}</div>
        </div>
      </div>
        <h6 class="os-data-header">Informações do Serviço</h6>
        <div class="services-item-data data-block">
          <div class = 'data-block-item'><b>Equipamento  </b> {{order.itemContract.equipment}}</div>
          <div class = 'data-block-item'><b>Resíduo  </b> {{order.itemContract.residue}}</div>
          <div class = 'data-block-item'><b>Unidade Medida  </b> {{order.itemContract.measurementUnit}}</div>
          <div class = 'data-block-item'><b>Data de Execução </b> {{order.vehicle}}</div>
          <div class = 'data-block-item'><b>Hora  </b> {{order.serviceTime}}</div>
          <div class = 'data-block-item'><b>Qtd Coletada  </b> {{order.amountCollected}}</div>
          <div class="long-data data-block-item"><b>Nº Manifesto INEA</b>{{order.ineaManifest}}</div>
          <div class="observation-data long-data data-block-item"><b>Observação </b>{{order.observation}}</div>
        </div>
  </div>
  <div class="footer">
    <div class="signature-employee signature-area">
        <span class="signature-item">______________________________</span>
        <span class="signature-item">Assinatura Motorista</span>
    </div>
    <div class="signature-customer signature-area">
        <span class="signature-item">______________________________</span>
        <span class="signature-item">Assinatura Cliente</span>
    </div>
  </div>
</div>

