

form{
  display:grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
}

.select-options span{
  font-weight: bolder;
  color:var(--cinza-escuro);

}

.create-order-fields{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.os-after-executed-fields{
  display: flex;
  flex-direction: column;
}



