table{
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-n, .mat-column-data-prevista, .mat-column-data-executada, .mat-column-status {
  width:17%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

