<div class="container">

  <div class="dashboard-cards">
    <app-card [iconClass]="'fas fa-money-bill'" [mainInfo]="totalValue | currency:'BRL'" [text]="'Em Contratos'" [link]="'/contratos'"></app-card>
    <app-card [iconClass]="'fas fa-file-signature'" [mainInfo]="$contractTotalCount | async" [text]="'Contratos'" [link]="'/contratos'"></app-card>
    <app-card [iconClass]="'fas fa-user'" [mainInfo]="$customerTotalCount | async" [text]="'Clientes'" [link]="'/clientes'"></app-card>
    <app-card [iconClass]="'fas fa-file-invoice'" [mainInfo]="$serviceOrderTotalCount | async" [text]="'Ordens em Aberto'" [link]="'/ordem-servico'"></app-card>
    <app-card [iconClass]="'fas fa-recycle'" [mainInfo]="$residueTotalCount | async" [text]="'Residuos'" [link]="'/residuos'"></app-card>
    <app-card [iconClass]="'fas fa-trash'" [mainInfo]="$equipmentTotalCount | async" [text]="'Equipamentos'" [link]="'/equipamentos'"></app-card>
  </div>


  <div class="next-services">
    <canvas id="orders">{{chart}}</canvas>
  </div>

</div>
