<div class="container">

  <div class="dashboard-cards">
    <app-card [iconClass]="'fas fa-money-bill'" [mainInfo]="totalValue | currency:'BRL'" [text]="'Em Contratos'" [link]="'/contratos'"></app-card>
    <app-card [iconClass]="'fas fa-file-signature'" [mainInfo]="contractRegisteredLength" [text]="'Contratos'" [link]="'/contratos'"></app-card>
    <app-card [iconClass]="'fas fa-user'" [mainInfo]="customerRegisteredLength" [text]="'Clientes'" [link]="'/clientes'"></app-card>
    <app-card [iconClass]="'fas fa-file-invoice'" [mainInfo]="serviceorderRegisteredLength" [text]="'Ordens em Aberto'" [link]="'/ordem-servico'"></app-card>
    <app-card [iconClass]="'fas fa-recycle'" [mainInfo]="residueRegisteredLength" [text]="'Residuos'" [link]="'/residuos'"></app-card>
    <app-card [iconClass]="'fas fa-trash'" [mainInfo]="equipmentRegisteredLength" [text]="'Equipamentos'" [link]="'/equipamentos'"></app-card>
  </div>


  <div class="next-services">
    <canvas id="orders">{{chart}}</canvas>
  </div>

</div>
