.detail-container{
  max-width: 100%;
  padding-bottom: 15px;
  position: relative;

}
mat-form-field{
  width: 100%;
  /* margin-bottom: 5px; */
}

mat-error{
  padding:0;
}
.close-button{
  cursor: pointer;
  transition: all 0.3s ;
  padding:0px 10px;
  text-decoration: none;
  color:black;
  position: absolute;
}

.close-button:hover{
  background-color: var(--cinza-escuro);
  color: white;
}

.detail-component-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;

}

.detail-component-header h4{
  font-weight: bold;
}




form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap:5px;
  padding: 5px;
}
form label {
  font-weight: bold;
}

