/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  list-style: none;
}

.mat-form-field-wrapper{
  padding-bottom: 0px;
}

.mat-dialog-content{
  overflow: none;
}

.activated{
  background-color: var(--secundaria);
}

:root
{
  --cinza:#30393e;
  --azul:#0341AB;
  --azul-claro:#1BC9DE;
  --rosa:#E6866C;
  --vermelho:#ab0f03;



  --principal: var(--cinza-escuro);
  --secundaria:var(--verde);
  --cinza-escuro:#262927;
  --verde:#28dcb8;
}

html, body { height: 100%; }
body {
  margin: 0;
   /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

/* MAT DIALOG */


.mat-list-item-content{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* APPLICATION  */
.bt:hover{
  background-color: var(--verde);
}

/* ALL BUTTONS OF THE APPLICAITON */
.app-button{
  text-align:center;
  background-color: var(--cinza-escuro);
  font-weight: bold;
  border:none;
  color: white;
  padding:10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
  border-radius: 3px;

}


.app-button:hover {
  cursor: pointer;
  color: var(--verde);
}

.bt-delete{
  background-color: rgb(199, 19, 19);
  color:white
}

.bt-gerar-pdf{
  color:white;
  background-color: #1477d3;
}

/* ============================================= */


.flex-display{
  display: flex;
  gap: 3px;
  justify-content: center;
}


/*ALL LIST TABLES*/
.app-table  th {
  font-weight: bolder;
  color:var(--cinza-escuro);
  font-size: 14px;
}


/* SITUATION FOR OBJECT ON TABLES */
.situation-tag {
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  font-weight: bolder;
  display: block;
  width: 100%;

}

.attention{
  color:black;
  background-color: yellow;


}

.warning{
  color: #E6866C;
  background-color:#ab0f03 ;

}

.ok{
  color:chartreuse ;
  background-color: green;

}

.finished{
  color:white ;
  background-color: var(--azul);
}
/* ============================== */
