.options-buttons{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 3px;
  margin-bottom: 10px;
}


@media screen and (min-width:576px){
  .options-buttons{
    display: flex;
    flex-direction: row;

  }
  .options-buttons a {
    width:150px;
  }
}
