table{
  width: 100%;
}

.options-table-buttons{
  display: flex;
  gap: 5px;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


.mat-column-equipamento, .mat-column-volume-m3, .mat-column-opcoes
{
  width:33%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
