.card{
  background-color: var(--cinza-escuro);
  border-radius: 3px ;
  color: white;
  padding:15px;
  text-align: center;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all ease-in 0.3s;
  gap:5px;
}

a {
  text-decoration: none;
}

.card i {
  font-size: 2em;
}



.inner-info{
  text-align: left;
}

.inner-info span{
  font-size: 1.35em;
}

.inner-info h6{
  color:var(--verde)
}
